body {
  background: linear-gradient(to bottom, #66ffff 0%, #ffccff 100%);
    /*box-sizing: border-box;*/
    margin: 0%;
    padding: 0%;
    font-family: "Josefin Sans", sans-serif;
    height: 100vh;
  }
  h1 {
    color: #FF3366;
    border-radius: 20px;
    text-align:center;
  }
  
  